# BASE 
flask 
streamlit
dotenv
flask_cors
gunicorn


# Chatbot
openai
langchain
langchain_community

# Data Analis
# pandas
# scikit-learn
# xgboost
# plotly
# matplotlib
# seaborn
# reportlab

# Web Scrapping
bs4
selenium
sqlalchemy
folium
streamlit_folium
streamlit_geolocation

# Information Extractor
transformers
pdfplumber
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu