# BASE 
flask 
streamlit
dotenv
flask_cors
gunicorn


# Chatbot
openai
langchain
langchain_community

# Data Analis
pandas

# Web Scrapping
bs4
selenium
sqlalchemy
folium
streamlit_folium
streamlit_geolocation